@import "fonts.scss";
@import "media768.scss";
@import "media1263.scss";
@import "media1726.scss";

* {
    margin: 0;
    padding: 0;
}




.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

body {
    overflow-y: scroll;
}

.disabled {
    pointer-events: none;
    cursor: default;

}

.header__burger:hover .header__burger-icon {
    fill: #9400D3;

}

.header__phone-box:hover .header__right-box-icon-phone {
    fill: #CF51CE;
}

.header__phone-box:hover .header__right-box-a {
    color: #CF51CE;
}

.header__filter-box:hover .header__filter-box-h3 {
    color: #CF51CE;
}

.header__filter-box:hover .header__filter-box-arrow-down {
    fill: #CF51CE;
}

.header__filter-box:hover {
    cursor: pointer;
}

.logo-big-img {
    display: none;
}

.supermen-big-bg {
    display: none;
}

.supermen-big {
    display: none;
}

.bg-ellipse-big-left {
    display: none;
}

.illustration-big {
    display: none;
}

.supermen-768 {
    display: none;
}

.illustration-768 {
    display: none;
}

.info__block1-h1-360 {
    display: none;
}

.logo-360-img {
    display: none;
}



.header {

    &__burger {
        display: none;
    }

    &__bg-ellipse-big-left {
        display: none;
    }

    &__img-bg {
        position: absolute;
    }

    &__menu {
        min-height: 3.875em;
    }

    &__menu-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 1.875em;
        align-items: center;

    }

    &__logo-box {
        display: flex;
        align-items: center;
    }

    &__logo-box-p {

        min-height: 3.875em;
        border-left: 0.777096px solid rgba(51, 26, 47, 0.5);
        padding-left: 1.214375em;
        margin-left: 0.9375em;
        display: flex;
        align-items: center;

    }

    &__logo-p {
        max-width: 134.53px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 0.625em;
        line-height: 14px;

    }

    &__center-box {
        display: flex;
        align-items: center;
    }

    &__center-box-a {
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #331A2F;
    }

    &__filter-box {
        display: flex;
        align-items: center;
        margin-right: 40.5px;
    }

    &__filter-box-h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #331A2F;
        margin-right: 12px;
        transition: All 0.5s ease;
    }

    &__filter-box-arrow-down {
        padding-top: 2px;
        transition: All 0.5s ease;
    }

    &__left-box {
        display: flex;
        min-width: 40em;
        justify-content: space-between;

    }

    &__right-box {
        width: 25.625em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__phone-box {
        display: flex;
        align-items: center;
    }

    &__right-box-icon-phone {
        margin-right: 0.4375em;
        transition: All 0.5s ease;

    }

    &__right-box-a {
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #331A2F;
        transition: All 0.5s ease;

    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 152px;
        height: 43.88px;
        background: #CF51CE;
        border-radius: 12px;
        border: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        -webkit-transition: All 0.5s ease;
        -moz-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;
        -ms-transition: All 0.5s ease;
        transition: All 0.5s ease;
    }

    &__button:hover {
        cursor: pointer;
        background-color: #9400D3;
    }

    &__button-icon {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
        margin-right: 0.875em;
    }

    &__breadcrumbs-box {
        margin-top: 60px;
        margin-bottom: 15px;
    }

    &__breadcrumbs-box-ul {
        display: flex;
        list-style-type: none;
    }

    &__breadcrumbs-box-a {
        text-decoration: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(51, 26, 47, 0.5);
    }

    &__breadcrumbs-separator {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        color: rgba(51, 26, 47, 0.5);
    }

}

.info {
    &__block1-h1-768 {
        display: none;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
    }

    &__block1-left-p-768 {
        display: none;
    }

    &__block1 {
        display: flex;
        justify-content: space-between;
    }

    &__block1-left {
        max-width: 705px;
        margin-right: 30px;
    }

    &__block1-h1 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;

        &--color-span {
            color: #CF51CE;
        }
    }

    &__block1-left-p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25em;
        line-height: 160%;
        color: rgba(51, 26, 47, 0.8);
        margin-bottom: 15px;
    }

    &__p {

        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        text-transform: uppercase;
        color: rgba(51, 26, 47, 0.8);

        &--span-color {
            font-size: 40px;
            color: #CF51CE;
        }

        &--span-size {
            font-size: 30px;
        }
    }

    &__icon-1 {
        width: 48px;
        height: 47px;
        fill: #CF51CE;
        margin-right: 25px;
    }

    &__block-price {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: flex-end;
    }

    &__block1-right {
        margin-top: 18px;
        padding-right: 30px;
    }

    &__img-bg-stars {
        position: absolute;
    }

    &__img-supermen {
        position: relative;
        top: -8%;
        left: 20px;
    }

}

.all-a {
    width: 100%;
    transition: All 0.5s ease;

}

.all-a:hover {
    color: #CF51CE;

}

.info-2 {

    &__text-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 62px;
        margin-bottom: 96px;
    }

    &__h2-768 {
        display: none;
    }

    &__h2 {

        max-width: 652px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 64px;
        text-align: center;
        color: #331A2F;
    }


    &__block-flex {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__right-box-p {
        max-width: 515px;
        left: 432px;
        top: 85.02px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: rgba(51, 26, 47, 0.8);

        &--margin-button {
            margin-top: 15px;
        }

    }
}

.info-3 {

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__text-box-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__h2 {
        margin-top: 105px;
        max-width: 641.96px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 39.9977px;
        line-height: 64px;
        text-align: center;
        color: #331A2F;

        &--color-4 {
            color: #EA5DBB;
        }
    }

    &__h2-span {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        display: inline-block;
    }

    &__h2-div {
        display: block;
        max-width: 217.99px;
        height: 6px;
        left: 707px;
        top: 2021.99px;
        background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
        border-radius: 4.99971px;
    }



    &__p {
        max-width: 653.96px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 19.9988px;
        line-height: 160%;
        text-align: center;
        color: rgba(51, 26, 47, 0.8);
        margin-top: 30px;
        margin-bottom: 84px;

    }


    &__grid-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 121px;
        grid-gap: 87px;
    }



    &__grid-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        left: 40.03px;
        top: 2200.98px;
        background: #CF51CE;
        box-shadow: 0px 3.99977px 24.9985px rgba(234, 93, 187, 0.25);
        border-radius: 14.9991px;
        margin-bottom: 20px;
    }

    &__icons-grid {
        fill: #FFFFFF;
    }



    &__grid-h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 19.9988px;
        line-height: 150%;
        color: #331A2F;
    }



    &__grid-p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15.9991px;
        line-height: 160%;
        color: rgba(51, 26, 47, 0.8);
        margin-top: 10px;

    }


    &__grid-content1 {
        max-width: 215px;
    }


    &__grid-content2 {
        max-width: 215px;
    }



    &__grid-content3 {
        max-width: 215px;
    }



    &__grid-content4 {
        max-width: 215px;
    }
}